.sideNav {
  border-right: 1px solid #e6ecf0;
  min-height: 100%;
  min-width: 178px;
  padding: 0 24px 0 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.ACIconBlock {
  text-align: left;
  padding: 5px;
  margin: 8px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  padding: 16px;
  cursor: pointer;
}

.navItem span {
  font-size: 18px;
  font-weight: 700;
}

.navItem:hover {
  background-color: #ff660020;
  border-radius: 90px;
}

.selected path {
  fill: #ff6600;
}

.unselected path {
  fill: #ffffff;
}

.logout {
  display: flex;
  align-items: center;
  padding: 16px;
  text-align: left;
  margin-top: auto;
  border-radius: 99px;
  cursor: pointer;
}
