.popularList {
  border-left: 1px solid #e6ecf0;
}

.container {
  margin: 16px 130px auto 24px;
  /* border: 1px solid #000; */
  background-color: #fafafb;
  border-radius: 16px;
}

.pageTitle {
  padding: 24px;
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #1c1c1c;
  border-bottom: 1px solid #e6ecf0;
}
