.popularItem {
  height: 74px;
  padding-top: 24px;
  text-align: left;
  display: flex;
  align-items: center;
  color: #1c1c1c;
  font-family: "Noto Sans TC";
  font-style: normal;
}

.popularItem > div {
  display: flex;
  flex-direction: column;
}

.textBlock {
  padding: 0 8px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.tag {
  color: #6c757d;
  font-size: 12px;
}

.ACIcon {
  width: 40px;
  height: 40px;
}

.activeButton {
  width: 96px;
  height: 40px;
  background-color: #ff6600;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 50px;
}

.button {
  width: 96px;
  height: 40px;
  background-color: #ffffff;
  color: #ff6600;
  padding: 8px 16px;
  border-radius: 50px;
}
