.popularItem {
  width: 273px;
  height: 74px;
  padding-left: 64px;
  padding-top: 24px;
  text-align: left;
  display: flex;
  align-items: center;
  color: #1c1c1c;
  font-family: "Noto Sans TC";
  font-style: normal;
}

.popularItem div {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.popularItem p {
  font-weight: bold;
  margin-left: 19px;
margin-bottom: 1px;
  font-size: 28px;
}
.popularItem span {
  color: #6c757d;
  margin-left: 19px;
  font-size: 13px;
}

.ACIcon {
  width: 50px;
  height: 50px;
}
.activeButton {
  width: 96px;
  height: 40px;
  background-color: #ff6600;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 50px;
}
.button {
  width: 96px;
  height: 40px;
  background-color:#ffffff;
  color:  #ff6600;
  padding: 8px 16px;
  border-radius: 50px;
}
