.UserInfo {
  position: relative;
  margin-bottom: 16px;
}

.bgImg {
  height: 200px;
  overflow: hidden;
}

.avatar {
  position: absolute;
  left: 20px;
  top: 124px;
  width: 132px;
  height: 132px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
}

.bgImg img,
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  margin-top: 16px;
  padding-left: 20px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #171725;
  text-align: left;
}

.account {
  padding-left: 20px;
  text-align: left;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #929292;
}

.userActions {
  position: relative;
  display: flex;
  min-height: 40px;
  justify-content: flex-end;
  align-items: center;
  margin: 16px 16px 0 0;
  gap: 16px;
}

.intro {
  padding-left: 20px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-top: 12px;
}

.followship {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 12px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.following {
  padding-left: 20px;
}

.follower {
  padding-left: 20px;
}
