.tabs {
  display: flex;
  height: 53px;
  background-color: white;
  border-bottom: 1px solid #e6ecf0;
}
.tabs div {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  box-sizing: border-box;
}

.active {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}

.default {
  color: #657786;
  border-bottom: 2px solid #ffffff;
}
