.sideNav {
  border: 1px solid black;
  width: 178px;
}

.ACIcon {
  /* position: absolute; */

  left: 10%;
  right: 22.92%;
  top: 10%;
  bottom: 36.21%;
}

.sideNavItem {
  width: 178px;
  height: 58px;
}

.makeTweet {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  width: 178px;
  height: 46px;

  /* color/brand/main */

  background: #ff6600;
  border-radius: 50px;
}

.makeTweet:hover {
  cursor: pointer;
}
