.signupPage {
  text-align: center;
  width: 100vw;
  height: 600px;
  position: relative;
  padding-top: 64px;
}

.notification {
  position: absolute;
  z-index: 999;
  right: 40px;
  text-align: right;
}
.pageTitle {
  margin: 24px 0 40px 0;
  font-size: 28px;
  line-height: 26px;
  font-weight: bold;
}

.inputSection,
.signupControlloer {
  width: 356px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.inputSection {
  gap: 8px;
}

.signupControlloer {
  margin-top: 16px;
  gap: 16px;
  align-items: center;
}

.signupButton {
  width: 100%;
  padding: 8px;
  font-size: 20px;
  line-height: 30px;
  border: none;
  border-radius: 100px;
  color: #fff;
  background-color: #ff6600;
  cursor: pointer;
}

.backLink {
  /* width: fit-content; */
  padding: 6px 12px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: #0062ff;
}
