.replyCard {
  /* display: flex; */
  padding: 22px 16px 0px 16px;
  position: relative;
}

.replyCardHeader {
  display: flex;
}

.replyCardFooter {
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #6c757d;
}
.headerTitle {
  font-weight: bold;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 1px;
  color: #171725;
}
.tag {
  color: #6c757d;
  margin-left: 8px;
  font-size: 13px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin: 8px 0px;
  border: none;
  text-align: left;
  color: #171725;
  font-size: 24px;
  line-height: 36px;
}

.interact {
  padding: 22px 16px;
  text-align: left;
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
}
.interactIcon {
  width: 25px;
  height: 25px;
  margin-right: 133px;
  stroke-width: 6%;
}
.liked path {
  fill: #fc5a5a;
  stroke-width: 0;
}
.unliked path {
  fill: #ffffff;
}
.bar {
  padding: 16px 0px;
  font-size: 19px;
  font-weight: 500;
  line-height: 27.5px;
  text-align: left;
  color: #6c757d;
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
}
.bar span {
  color: #171725;
  font-weight: 700;
  margin-left: 16px;
}
