.AdminUsersPage {
  display: flex;
  min-height: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1; /* 新增的 flex 屬性 */
}
.header {
  display: block;
}

.contentList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 66px;
}
