.profileheader {
  width: 100%;
  font-size: 24px;
  padding: 16px 0px;
  background-color: white;
  text-align: left;
  border-bottom: 1px solid #e6ecf0;
  position: absolute;
  display: flex;
  align-items: first baseline;
}

.icon {
  margin-left: 28px;
}

.headerTitle {
  font-weight: bold;
  margin-top: 0px;
  margin-left: 19px;
  margin-bottom: 1px;
}
.tweetNums {
  color: #6c757d;
  margin-left: 19px;
  font-size: 13px;
}

/* .profileheader {
  width: 100%;
  font-size: 24px;
  padding: 16px 0px;
  background-color: white;
  text-align: left;
  border-bottom: 1px solid #E6ECF0;
  position: absolute;
}
.profileheader span {
  font-weight: bold;
  margin-left: 19px;
} */
