.loginpage {
  box-sizing: border-box;

  /* position: relative; */
  width: 1400px;
  height: 1200px;
  overflow-x: scroll;

  background: #ffffff;
  /* grayscale/dark-50 */

  border: 1px solid #d5d5dc;
  border-radius: 4px;
}
