.userpage {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.mainContent {
  position: relative;
  height: 100%;
  flex: 1;
}

.contentList {
  height: 100%;
  margin-top: 80px;
  overflow: auto;
  max-height: calc(100vh - 67px);
}

.contentList::-webkit-scrollbar {
  display: none;
}
